PRISMA_DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19HQTNIU0FCLThSbmQyLVNfSHlwN3UiLCJhcGlfa2V5IjoiMDFLUkdLREE0UTIyRzZKQjk3Qk1YQUNBTVMiLCJ0ZW5hbnRfaWQiOiJiZGNiNGVjY2M1N2Y1OWQwZmU3M2Y4NzU2NjI3ZmZlNTc4ZjI0YTU1OGQ0ZDBhYTMyMjVlYzk1M2RhMzBmNDE2IiwiaW50ZXJuYWxfc2VjcmV0IjoiMzA0MTM1MmYtOTM5Mi00ZDVlLTgyNDUtNjk2ZjIzYTk5NDZjIn0.JB7nChV-hfpllW9IqZGfX5-nL44pCO8lZK2Vx3UAodA"
DATABASE_URL="postgres://bdcb4eccc57f59d0fe73f8756627ffe578f24a558d4d0aa3225ec953da30f416:sk_GA3HSAB-8Rnd2-S_Hyp7u@db.prisma.io:5432/postgres?sslmode=require"
POSTGRES_URL="postgres://bdcb4eccc57f59d0fe73f8756627ffe578f24a558d4d0aa3225ec953da30f416:sk_GA3HSAB-8Rnd2-S_Hyp7u@db.prisma.io:5432/postgres?sslmode=require"
YOUTUBE_API_KEY="AIzaSyCbvb6yAC1xtvdyUGbbiD_v9D4UeEKePzY"
YOUTUBE_PLAYLIST_ID="PLaTTaf_J5_aniPCw8Qh0NwZ___CZUFIXN"
ADMIN_PASSWORD="pass"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_5ZlAa2JoNbKRifls_qLsunrsSfTb1CfM2Bj6gypkjyLr2zp"
