.LeadersListHolder{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.LeadersList {
  display: flex;
  padding: 0;
  background-color: #ffffff;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.officials-header
{
  padding-top: 2rem;
  padding-left: 0;
  text-align: center;
}


